task3_user_specification/task_3_userspeficication.aux
task3_user_specification/task_3_userspeficication.fdb_latexmk
task3_user_specification/task_3_userspeficication.fls
task3_user_specification/task_3_userspeficication.log
task3_user_specification/task_3_userspeficication.out
task3_user_specification/task_3_userspeficication.synctex.gz
task3_user_specification/task_3_userspeficication.xdv
task3_user_specification/login.png
task3_user_specification/manage_exams.png
task3_user_specification/manage_question_bank.png
task3_user_specification/Registration.png
task3_user_specification/task_2_userspeficication.aux
task3_user_specification/task_2_userspeficication.fdb_latexmk
task3_user_specification/task_2_userspeficication.fls
task3_user_specification/task_2_userspeficication.log
task3_user_specification/task_2_userspeficication.out
task3_user_specification/task_2_userspeficication.synctex.gz
task3_user_specification/task_2_userspeficication.xdv
task3_user_specification/task_3_userspeficication.pdf
task3_user_specification/task_3_userspeficication.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.out
*.xdv
